<mat-card >
    <mat-card-header>
      <mat-card-title>
      {{location.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{location.division.name}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{location.urlImage}} alt={{location.title}}>
  <mat-card-content>
    <p>
      {{location.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button [routerLink]="['/location',location._id]"  color="primary"> Mas ..</button>
    <button mat-flat-button [routerLink]="['/location/edit' , location._id]" color="accent">Editar </button>

  </mat-card-actions>

</mat-card>